---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body>
		<h1>Life Slices</h1>
		<p> Hello world ! ouais bon pas très original comme accroche !</p>
		<p> Allez on y va, en quelques mots, je suis là pour raconter ma vie, sur un site à moi, alors je m'exprimerais en toute liberté 
			( vous inquiétez pas, j'suis pas du genre à rentrer dans des débats politiquement incorrects)</p>
		<p> Le but c'est surtout de me faire la main avec un projet blog avec Astro 
			mais bon avec du contenu c'est quand même mieux que du Lorem Ipsum ?</p>
			
	</body>
</html>

